camod_api/package/client/lib/gov.nih.nci.camod.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.0/gov.nih.nci.camod.domain" targetNamespace="gme://caCORE.cabig/3.0/gov.nih.nci.camod.domain" elementFormDefault="qualified">
  <xs:element name="Xenograft" type="Xenograft" />
  <xs:complexType name="Xenograft">
    <xs:complexContent>
      <xs:extension base="AbstractCancerModel">
        <xs:sequence>
          <xs:element name="organ" type="Organ" minOccurs="0" maxOccurs="1" />
          <xs:element name="tumorCode" type="TumorCode" minOccurs="0" maxOccurs="1" />
          <xs:element name="donorSpecies" type="Species" minOccurs="0" maxOccurs="1" />
          <xs:element name="invivoResultCollection" type="InvivoResult" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="xenograftName" type="xs:string" />
        <xs:attribute name="geneticManipulation" type="xs:string" />
        <xs:attribute name="modificationDescription" type="xs:string" />
        <xs:attribute name="parentalCellLineName" type="xs:string" />
        <xs:attribute name="atccNumber" type="xs:string" />
        <xs:attribute name="cellAmount" type="xs:string" />
        <xs:attribute name="growthPeriod" type="xs:string" />
        <xs:attribute name="graftType" type="xs:string" />
        <xs:attribute name="graftTypeUnctrlVocab" type="xs:string" />
        <xs:attribute name="administrativeSite" type="xs:string" />
        <xs:attribute name="adminSiteUnctrlVocab" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Treatment" type="Treatment" />
  <xs:complexType name="Treatment">
    <xs:sequence>
      <xs:element name="sexDistribution" type="SexDistribution" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="regimen" type="xs:string" />
    <xs:attribute name="dosage" type="xs:string" />
    <xs:attribute name="dosageUnit" type="xs:string" />
    <xs:attribute name="administrativeRoute" type="xs:string" />
    <xs:attribute name="adminRouteUnctrlVocab" type="xs:string" />
    <xs:attribute name="ageAtTreatment" type="xs:string" />
    <xs:attribute name="ageAtTreatmentUnit" type="xs:string" />
  </xs:complexType>
  <xs:element name="Transgene" type="Transgene" />
  <xs:complexType name="Transgene">
    <xs:complexContent>
      <xs:extension base="EngineeredGene">
        <xs:sequence>
          <xs:element name="regulatoryElementCollection" type="RegulatoryElement" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="species" type="Species" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="locationOfIntegration" type="xs:string" />
        <xs:attribute name="isRandom" type="xs:boolean" />
        <xs:attribute name="constructSequence" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Therapy" type="Therapy" />
  <xs:complexType name="Therapy">
    <xs:sequence>
      <xs:element name="publicationCollection" type="Publication" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="treatment" type="Treatment" minOccurs="0" maxOccurs="1" />
      <xs:element name="agent" type="Agent" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="experiment" type="xs:string" />
    <xs:attribute name="results" type="xs:string" />
    <xs:attribute name="toxicityGrade" type="xs:string" />
    <xs:attribute name="biomarker" type="xs:string" />
    <xs:attribute name="tumorResponse" type="xs:string" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="TargetedModification" type="TargetedModification" />
  <xs:complexType name="TargetedModification">
    <xs:complexContent>
      <xs:extension base="EngineeredGene">
        <xs:sequence>
          <xs:element name="yeastModel" type="YeastModel" minOccurs="0" maxOccurs="1" />
          <xs:element name="modificationTypeCollection" type="ModificationType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="esCellLineName" type="xs:string" />
        <xs:attribute name="blastocystName" type="xs:string" />
        <xs:attribute name="geneId" type="xs:string" />
        <xs:attribute name="constructSequence" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SexDistribution" type="SexDistribution" />
  <xs:complexType name="SexDistribution">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="RepositoryInfo" type="RepositoryInfo" />
  <xs:complexType name="RepositoryInfo">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="inTheRepository" type="xs:long" />
    <xs:attribute name="sentEmailContent" type="xs:string" />
    <xs:attribute name="suggestSubmission" type="xs:long" />
  </xs:complexType>
  <xs:element name="RegulatoryElementType" type="RegulatoryElementType" />
  <xs:complexType name="RegulatoryElementType">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="RegulatoryElement" type="RegulatoryElement" />
  <xs:complexType name="RegulatoryElement">
    <xs:sequence>
      <xs:element name="regulatoryElementType" type="RegulatoryElementType" minOccurs="0" maxOccurs="1" />
      <xs:element name="species" type="Species" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="PublicationStatus" type="PublicationStatus" />
  <xs:complexType name="PublicationStatus">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Publication" type="Publication" />
  <xs:complexType name="Publication">
    <xs:sequence>
      <xs:element name="publicationStatus" type="PublicationStatus" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="volume" type="xs:string" />
    <xs:attribute name="endPage" type="xs:long" />
    <xs:attribute name="year" type="xs:long" />
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="pmid" type="xs:long" />
    <xs:attribute name="startPage" type="xs:long" />
    <xs:attribute name="journal" type="xs:string" />
    <xs:attribute name="authors" type="xs:string" />
    <xs:attribute name="firstTimeReported" type="xs:boolean" />
    <xs:attribute name="jaxJNumber" type="xs:string" />
  </xs:complexType>
  <xs:element name="Phenotype" type="Phenotype" />
  <xs:complexType name="Phenotype">
    <xs:sequence>
      <xs:element name="sexDistribution" type="SexDistribution" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="breedingNotes" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
  </xs:complexType>
  <xs:element name="Nomenclature" type="Nomenclature" />
  <xs:complexType name="Nomenclature">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="MicroArrayData" type="MicroArrayData" />
  <xs:complexType name="MicroArrayData">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="experimentName" type="xs:string" />
    <xs:attribute name="experimentId" type="xs:long" />
    <xs:attribute name="otherLocationURL" type="xs:string" />
  </xs:complexType>
  <xs:element name="SegmentType" type="SegmentType" />
  <xs:complexType name="SegmentType">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="nameUnctrlVocab" type="xs:string" />
  </xs:complexType>
  <xs:element name="InducedMutation" type="InducedMutation" />
  <xs:complexType name="InducedMutation">
    <xs:complexContent>
      <xs:extension base="EngineeredGene">
        <xs:sequence>
          <xs:element name="environmentalFactor" type="EnvironmentalFactor" minOccurs="0" maxOccurs="1" />
          <xs:element name="geneticAlterationCollection" type="GeneticAlteration" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="geneId" type="xs:string" />
        <xs:attribute name="description" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Image" type="Image" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="stainingMethod" type="StainingMethod" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="fileServerLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="GenotypeSummary" type="GenotypeSummary" />
  <xs:complexType name="GenotypeSummary">
    <xs:sequence>
      <xs:element name="nomenclature" type="Nomenclature" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="summary" type="xs:string" />
    <xs:attribute name="genotype" type="xs:string" />
  </xs:complexType>
  <xs:element name="GenomicSegment" type="GenomicSegment" />
  <xs:complexType name="GenomicSegment">
    <xs:complexContent>
      <xs:extension base="EngineeredGene">
        <xs:sequence>
          <xs:element name="segmentType" type="SegmentType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="locationOfIntegration" type="xs:string" />
        <xs:attribute name="segmentSize" type="xs:string" />
        <xs:attribute name="cloneDesignator" type="xs:string" />
        <xs:attribute name="isRandom" type="xs:boolean" />
        <xs:attribute name="constructSequence" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneticAlteration" type="GeneticAlteration" />
  <xs:complexType name="GeneticAlteration">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="observation" type="xs:string" />
    <xs:attribute name="methodOfObservation" type="xs:string" />
  </xs:complexType>
  <xs:element name="GeneFunction" type="GeneFunction" />
  <xs:complexType name="GeneFunction">
    <xs:sequence>
      <xs:element name="engineeredGene" type="EngineeredGene" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="function" type="xs:string" />
  </xs:complexType>
  <xs:element name="GeneDelivery" type="GeneDelivery" />
  <xs:complexType name="GeneDelivery">
    <xs:sequence>
      <xs:element name="organ" type="Organ" minOccurs="0" maxOccurs="1" />
      <xs:element name="treatment" type="Treatment" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="viralVector" type="xs:string" />
    <xs:attribute name="viralVectorUnctrlVocab" type="xs:string" />
    <xs:attribute name="geneInVirus" type="xs:string" />
  </xs:complexType>
  <xs:element name="EnvironmentalFactor" type="EnvironmentalFactor" />
  <xs:complexType name="EnvironmentalFactor">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="typeUnctrlVocab" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="nameUnctrlVocab" type="xs:string" />
    <xs:attribute name="casNumber" type="xs:string" />
    <xs:attribute name="nscNumber" type="xs:float" />
  </xs:complexType>
  <xs:element name="EngineeredGene" type="EngineeredGene" />
  <xs:complexType name="EngineeredGene">
    <xs:sequence>
      <xs:element name="conditionality" type="Conditionality" minOccurs="0" maxOccurs="1" />
      <xs:element name="mutationIdentifier" type="MutationIdentifier" minOccurs="0" maxOccurs="1" />
      <xs:element name="geneFunctionCollection" type="GeneFunction" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="image" type="Image" minOccurs="0" maxOccurs="1" />
      <xs:element name="expressionFeatureCollection" type="ExpressionFeature" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="genotypeSummary" type="GenotypeSummary" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="Conditionality" type="Conditionality" />
  <xs:complexType name="Conditionality">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="conditionedBy" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
  </xs:complexType>
  <xs:element name="CellLine" type="CellLine" />
  <xs:complexType name="CellLine">
    <xs:sequence>
      <xs:element name="publicationCollection" type="Publication" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="organ" type="Organ" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="experiment" type="xs:string" />
    <xs:attribute name="results" type="xs:string" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="Availability" type="Availability" />
  <xs:complexType name="Availability">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="enteredDate" type="xs:dateTime" />
    <xs:attribute name="visibleTo" type="xs:string" />
    <xs:attribute name="modifiedDate" type="xs:dateTime" />
    <xs:attribute name="releaseDate" type="xs:dateTime" />
  </xs:complexType>
  <xs:element name="AnimalModel" type="AnimalModel" />
  <xs:complexType name="AnimalModel">
    <xs:complexContent>
      <xs:extension base="AbstractCancerModel">
        <xs:sequence>
          <xs:element name="geneDeliveryCollection" type="GeneDelivery" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="repositoryInfo" type="RepositoryInfo" minOccurs="0" maxOccurs="1" />
          <xs:element name="xenograftCollection" type="Xenograft" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="carcinogenExposureCollection" type="CarcinogenExposure" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="therapyCollection" type="Therapy" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="cellLineCollection" type="CellLine" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="engineeredGeneCollection" type="EngineeredGene" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="spontaneousMutationCollection" type="SpontaneousMutation" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="microArrayDataCollection" type="MicroArrayData" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="phenotype" type="Phenotype" minOccurs="0" maxOccurs="1" />
          <xs:element name="animalAvailabilityCollection" type="AnimalAvailability" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="histopathologyCollection" type="Histopathology" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="imageCollection" type="Image" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="url" type="xs:string" />
        <xs:attribute name="isToolMouse" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EndpointCode" type="EndpointCode" />
  <xs:complexType name="EndpointCode">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
  </xs:complexType>
  <xs:element name="AbstractCancerModel" type="AbstractCancerModel" />
  <xs:complexType name="AbstractCancerModel">
    <xs:sequence>
      <xs:element name="principalInvestigator" type="Person" minOccurs="0" maxOccurs="1" />
      <xs:element name="strain" type="Strain" minOccurs="0" maxOccurs="1" />
      <xs:element name="publicationCollection" type="Publication" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="availability" type="Availability" minOccurs="0" maxOccurs="1" />
      <xs:element name="submitter" type="Person" minOccurs="0" maxOccurs="1" />
      <xs:element name="logCollection" type="Log" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="modelDescriptor" type="xs:string" />
    <xs:attribute name="experimentDesign" type="xs:string" />
    <xs:attribute name="state" type="xs:string" />
  </xs:complexType>
  <xs:element name="YeastModel" type="YeastModel" />
  <xs:complexType name="YeastModel">
    <xs:complexContent>
      <xs:extension base="AbstractCancerModel">
        <xs:sequence>
          <xs:element name="targetedModificationCollection" type="TargetedModification" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="screeningResultCollection" type="ScreeningResult" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScreeningResult" type="ScreeningResult" />
  <xs:complexType name="ScreeningResult">
    <xs:sequence>
      <xs:element name="treatment" type="Treatment" minOccurs="0" maxOccurs="1" />
      <xs:element name="agent" type="Agent" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="stage" type="xs:string" />
    <xs:attribute name="diffinh" type="xs:float" />
    <xs:attribute name="aveinh" type="xs:float" />
  </xs:complexType>
  <xs:element name="TumorCode" type="TumorCode" />
  <xs:complexType name="TumorCode">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="description" type="xs:string" />
  </xs:complexType>
  <xs:element name="InvivoResult" type="InvivoResult" />
  <xs:complexType name="InvivoResult">
    <xs:sequence>
      <xs:element name="endpointCode" type="EndpointCode" minOccurs="0" maxOccurs="1" />
      <xs:element name="treatment" type="Treatment" minOccurs="0" maxOccurs="1" />
      <xs:element name="agent" type="Agent" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="evaluationDay" type="xs:string" />
    <xs:attribute name="toxicitySurvivors" type="xs:string" />
    <xs:attribute name="toxicityEvalDay" type="xs:string" />
    <xs:attribute name="percentTreatedControl" type="xs:float" />
  </xs:complexType>
  <xs:element name="ModificationType" type="ModificationType" />
  <xs:complexType name="ModificationType">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="nameUnctrlVocab" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExpressionFeature" type="ExpressionFeature" />
  <xs:complexType name="ExpressionFeature">
    <xs:sequence>
      <xs:element name="organ" type="Organ" minOccurs="0" maxOccurs="1" />
      <xs:element name="expressionLevelDesc" type="ExpressionLevelDesc" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="Species" type="Species" />
  <xs:complexType name="Species">
    <xs:sequence>
      <xs:element name="strainCollection" type="Strain" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="scientificName" type="xs:string" />
    <xs:attribute name="scientificNameUnctrlVocab" type="xs:string" />
    <xs:attribute name="commonName" type="xs:string" />
    <xs:attribute name="commonNameUnctrlVocab" type="xs:string" />
    <xs:attribute name="abbreviation" type="xs:string" />
    <xs:attribute name="conceptCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="Organ" type="Organ" />
  <xs:complexType name="Organ">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="conceptCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="Histopathology" type="Histopathology" />
  <xs:complexType name="Histopathology">
    <xs:sequence>
      <xs:element name="geneticAlteration" type="GeneticAlteration" minOccurs="0" maxOccurs="1" />
      <xs:element name="clinicalMarkerCollection" type="ClinicalMarker" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="organ" type="Organ" minOccurs="0" maxOccurs="1" />
      <xs:element name="disease" type="Disease" minOccurs="0" maxOccurs="1" />
      <xs:element name="metastasisCollection" type="Histopathology" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="comments" type="xs:string" />
    <xs:attribute name="grossDescription" type="xs:string" />
    <xs:attribute name="relationalOperation" type="xs:string" />
    <xs:attribute name="tumorIncidenceRate" type="xs:string" />
    <xs:attribute name="survivalInfo" type="xs:string" />
    <xs:attribute name="ageOfOnset" type="xs:string" />
    <xs:attribute name="ageOfOnsetUnit" type="xs:string" />
    <xs:attribute name="microscopicDescription" type="xs:string" />
    <xs:attribute name="weightOfTumor" type="xs:string" />
    <xs:attribute name="volumeOfTumor" type="xs:string" />
    <xs:attribute name="comparativeData" type="xs:string" />
  </xs:complexType>
  <xs:element name="Disease" type="Disease" />
  <xs:complexType name="Disease">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:long" />
    <xs:attribute name="conceptCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="Agent" type="Agent" />
  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element name="chemicalClassCollection" type="ChemicalClass" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="biologicalProcessCollection" type="BiologicalProcess" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="agentTargetCollection" type="AgentTarget" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="conceptCode" type="xs:string" />
    <xs:attribute name="nscNumber" type="xs:long" />
    <xs:attribute name="casNumber" type="xs:string" />
    <xs:attribute name="isCMAPAgent" type="xs:boolean" />
    <xs:attribute name="source" type="xs:string" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExpressionLevelDesc" type="ExpressionLevelDesc" />
  <xs:complexType name="ExpressionLevelDesc">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="expressionLevel" type="xs:string" />
  </xs:complexType>
  <xs:element name="MutationIdentifier" type="MutationIdentifier" />
  <xs:complexType name="MutationIdentifier">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="mgiNumber" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpontaneousMutation" type="SpontaneousMutation" />
  <xs:complexType name="SpontaneousMutation">
    <xs:sequence>
      <xs:element name="mutationIdentifier" type="MutationIdentifier" minOccurs="0" maxOccurs="1" />
      <xs:element name="geneticAlterationCollection" type="GeneticAlteration" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="geneId" type="xs:string" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClinicalMarker" type="ClinicalMarker" />
  <xs:complexType name="ClinicalMarker">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="nameUnctrlVocab" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="ChemicalClass" type="ChemicalClass" />
  <xs:complexType name="ChemicalClass">
    <xs:sequence>
      <xs:element name="agentCollection" type="Agent" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="BiologicalProcess" type="BiologicalProcess" />
  <xs:complexType name="BiologicalProcess">
    <xs:sequence>
      <xs:element name="agentCollection" type="Agent" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="AgentTarget" type="AgentTarget" />
  <xs:complexType name="AgentTarget">
    <xs:sequence>
      <xs:element name="agentCollection" type="Agent" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="AnimalDistributor" type="AnimalDistributor" />
  <xs:complexType name="AnimalDistributor">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="AnimalAvailability" type="AnimalAvailability" />
  <xs:complexType name="AnimalAvailability">
    <xs:sequence>
      <xs:element name="animalDistributor" type="AnimalDistributor" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="stockNumber" type="xs:string" />
  </xs:complexType>
  <xs:element name="Party" type="Party" />
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element name="roleCollection" type="Role" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="contactInfoCollection" type="ContactInfo" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="Organization" type="Organization" />
  <xs:complexType name="Organization">
    <xs:complexContent>
      <xs:extension base="Party">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" type="Person" />
  <xs:complexType name="Person">
    <xs:complexContent>
      <xs:extension base="Party">
        <xs:sequence />
        <xs:attribute name="lastName" type="xs:string" />
        <xs:attribute name="firstName" type="xs:string" />
        <xs:attribute name="middleName" type="xs:string" />
        <xs:attribute name="username" type="xs:string" />
        <xs:attribute name="isPrincipalInvestigator" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactInfo" type="ContactInfo" />
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element name="partyCollection" type="Party" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="city" type="xs:string" />
    <xs:attribute name="state" type="xs:string" />
    <xs:attribute name="address" type="xs:string" />
    <xs:attribute name="zip" type="xs:string" />
    <xs:attribute name="fax" type="xs:string" />
    <xs:attribute name="lab" type="xs:string" />
    <xs:attribute name="phone" type="xs:string" />
    <xs:attribute name="email" type="xs:string" />
    <xs:attribute name="institute" type="xs:string" />
  </xs:complexType>
  <xs:element name="Role" type="Role" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element name="partyCollection" type="Party" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Log" type="Log" />
  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element name="comment" type="Comments" minOccurs="0" maxOccurs="1" />
      <xs:element name="submitter" type="Person" minOccurs="0" maxOccurs="1" />
      <xs:element name="cancerModel" type="AbstractCancerModel" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="notes" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="subsystem" type="xs:string" />
    <xs:attribute name="timestamp" type="xs:string" />
  </xs:complexType>
  <xs:element name="Comments" type="Comments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element name="availability" type="Availability" minOccurs="0" maxOccurs="1" />
      <xs:element name="submitter" type="Person" minOccurs="0" maxOccurs="1" />
      <xs:element name="modelSection" type="ModelSection" minOccurs="0" maxOccurs="1" />
      <xs:element name="cancerModel" type="AbstractCancerModel" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="remark" type="xs:string" />
    <xs:attribute name="state" type="xs:string" />
  </xs:complexType>
  <xs:element name="ModelSection" type="ModelSection" />
  <xs:complexType name="ModelSection">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Strain" type="Strain" />
  <xs:complexType name="Strain">
    <xs:sequence>
      <xs:element name="mutationIdentifier" type="MutationIdentifier" minOccurs="0" maxOccurs="1" />
      <xs:element name="species" type="Species" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="nameUnctrlVocab" type="xs:string" />
    <xs:attribute name="abbreviation" type="xs:string" />
    <xs:attribute name="conceptCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="StainingMethod" type="StainingMethod" />
  <xs:complexType name="StainingMethod">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="nameUnctrlVocab" type="xs:string" />
    <xs:attribute name="conceptCode" type="xs:string" />
  </xs:complexType>
  <xs:element name="CarcinogenExposure" type="CarcinogenExposure" />
  <xs:complexType name="CarcinogenExposure">
    <xs:sequence>
      <xs:element name="environmentalFactor" type="EnvironmentalFactor" minOccurs="0" maxOccurs="1" />
      <xs:element name="treatment" type="Treatment" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
</xs:schema>

